<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<style>
body {
  color: #FFFFFF;
  background-color: #000000;
}
    h1 {text-align: center;}
    h2 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
body {
  font-size: 100%;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3.875em;
}

p {
  font-size: 2.875em;
}
</style>
</head>
<body>
<h1>🤸Tααrzαπ🤸</h1>
<h2>Shakespeare's Poem</h2>
<p>Be not afraid of greatness.<br>
Some are born great,<br>
some achieve greatness,<br>
and others have greatness thrust upon them.</p>

<p><em>-William Shakespeare</em></p>
</body>
</html>